In [1]:
#https://github.com/thomascmann/flatten-data
import copy
from collections.abc import MutableMapping, MutableSequence

def flatten_data(data, simple=1):
    out = []

    def flatten(x, name='',subgroup=None):
        if subgroup is None:
            subgroup = [{}]
        if isinstance(x, MutableMapping):
            for a in x:
                subgroup = flatten(x[a], ''.join([name, str(a), "_"]), subgroup)
        elif isinstance(x, MutableSequence):
            new_dicts = []
            for a in x:
                for dic in subgroup:
                    newdict = flatten(a, name, copy.deepcopy([dic]))
                    for i in newdict:
                        new_dicts.append(i)
            subgroup = new_dicts   
        else:
            for dic in subgroup:
                dic[name[:-1]] = x
        return subgroup

    if simple == 1:
        formatted_data = flatten(data)
        for i in formatted_data:
            out.append(i)
    else:
        for record in data:
            if isinstance(data, MutableSequence):
                formatted_data = flatten(record)
            elif isinstance(data, MutableMapping):
                formatted_data = flatten(data[record])
                for i in formatted_data:
                    i["_ID_VAR_"] = record

            for i in formatted_data:
                out.append(i)
    return out

In [2]:
!pip install flatten_json
!pip install facepy

Requirement already satisfied: flatten_json in /usr/local/lib/python3.6/dist-packages (0.1.6)
Requirement already satisfied: facepy in /usr/local/lib/python3.6/dist-packages (1.0.9)
Requirement already satisfied: six>=1.6 in /usr/local/lib/python3.6/dist-packages (from facepy) (1.12.0)
Requirement already satisfied: requests>=0.8 in /usr/local/lib/python3.6/dist-packages (from facepy) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=0.8->facepy) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=0.8->facepy) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=0.8->facepy) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=0.8->facepy) (3.0.4)

In [3]:
from facepy import GraphAPI
import pandas as pd
from pandas.io.json import json_normalize
from flatten_json import flatten #https://medium.com/@amirziai/flatten-json-on-python-package-index-pypi-9e4951693a5a
# Initialize the Graph API with a valid access token (optional,
# but will allow you to do all sorts of fun stuff).
graph = GraphAPI('YOUR_TOKEN')

In [93]:
import time
#added limit at the end of post query. 100 seems to be max for each call
#&after= was added to iteration
query='germany'
places=graph.post('search?method=GET&type=place&q='+str(query)+'&fields=name,location,rating_count,category_list&center=52.5500361,13.3372237&limit=90')
pager=places['paging']['next'][places['paging']['next'].find('after=')+len('after='):]
#pager=places_tmp['paging']['cursors']['after']
if 'headers' in places:
    del places['headers']
if 'paging' in places:
    del places['paging']
flatdf=json_normalize(flatten_data(places))
#https://stackoverflow.com/questions/45918559/python-merging-rows-with-same-value-in-one-column
cat_df_id=flatdf.groupby('data_id').data_category_list_name.apply(lambda x : x.tolist()).to_frame()['data_category_list_name'].apply(pd.Series).add_prefix('Category_').fillna(' ')
#delete categories columns
flatdf = flatdf.drop(['data_category_list_id', 'data_category_list_name'], axis=1)
flatdf=flatdf.drop_duplicates()
#merge datasets
result=pd.merge(flatdf,cat_df_id, left_on='data_id', right_on='data_id')
print('Initial result shape',result.shape)
i=0
n=20
#for limits see this post. It's a little old but makes sense.
#https://stackoverflow.com/questions/14092989/facebook-api-4-application-request-limit-reached
for i in range(i,n):
    print(result['data_id'].unique().shape)
    if result.shape[0] <= 500:
        places_tmp=graph.post('search?method=GET&type=place&q='+str(query)+'&fields=name,location,rating_count,category_list&limit=90&after='+str(pager))
        #print(places_tmp['paging']['cursors']) #KeyError: 'after' means there are no more pages
        #print(pager)
        try:
            #print(places_tmp['paging']['cursors']['after'])
            #pager=places_tmp['paging']['next'][places_tmp['paging']['next'].find('after=')+len('after='):]
            pager=places_tmp['paging']['cursors']['after'] 
            del places_tmp['headers']
            del places_tmp['paging']
            flatdf_tmp=json_normalize(flatten_data(places_tmp))
            cat_tmp=flatdf_tmp.groupby('data_id').data_category_list_name.apply(lambda x : x.tolist()).to_frame()['data_category_list_name'].apply(pd.Series).add_prefix('Category_').fillna(' ')
            flatdf_tmp = flatdf_tmp.drop(['data_category_list_id', 'data_category_list_name'], axis=1)
            result_tmp=pd.merge(flatdf_tmp,cat_tmp, left_on='data_id', right_on='data_id')
            result=result.append(result_tmp)
            #print(result['data_id'].unique().shape)
        except: 
            print('end', i)
            break
    else:
        time.sleep(600)

Initial result shape (90, 13)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(174,)
(232,)
(297,)

KeyboardInterrupt:

In [94]:
result['data_id'].unique().shape[0]

297

In [68]:
#tests
places=graph.get('search?method=GET&type=place&q=berlin&fields=name,location,rating_count,category_list&center=52.5500361,13.3372237&limit=100')
places['paging']['next'][places['paging']['next'].find('after=')+len('after='):]

'OTkZD'

In [95]:
result.shape

(552, 14)

In [96]:
result

,Category_0,Category_1,Category_2,Category_3,data_id,data_location_city,data_location_country,data_location_latitude,data_location_located_in,data_location_longitude,data_location_street,data_location_zip,data_name,data_rating_count
0,Country,,,,279516318736353,NaN,NaN,51,NaN,10,NaN,NaN,Alemania,NaN
1,Region,City,City,,213549102002249,Berlin,Germany,52.518391,NaN,13.401251,NaN,NaN,Berlín,NaN
2,City,National Park,,,187343588090963,NaN,NaN,52.516380914216,NaN,13.378899151666,NaN,NaN,"Brandenburg Gate, Berlin, Germany",8.0
3,Region,,,,327812700574720,NaN,NaN,52.395474014562,NaN,13.518712790547,NaN,NaN,"Brandenburg, Germany",NaN
4,City,,,,602289129838094,NaN,NaN,52.4985949,NaN,13.3847854,NaN,NaN,"Berlin, Germany - Europe",11.0
5,Region,,,,345774065433032,NaN,NaN,48.894107570617,NaN,11.583000803261,NaN,NaN,"Bayern, Germany",NaN
6,Airport Terminal,City,,,320746585017122,Berlin,Germany,52.552082365401,NaN,13.291771015536,andel's,NaN,"Tegel Airport, Berlin, Germany",26.0
7,Region,,,,278456442208672,NaN,NaN,48.430394114111,NaN,9.2463729858642,NaN,NaN,"Baden-Württemberg, Germany",NaN
8,City,City,,,220328594660274,Tiergarten,Germany,52.5167,NaN,13.3667,NaN,NaN,"Tiergarten, Berlin, Germany",NaN
9,Region,,,,252621764809436,NaN,NaN,51.41939,NaN,7.404526,NaN,NaN,"Nordrhein-Westfalen, Germany",NaN
10,City,City,Neighborhood,Geo Entity,213497202008107,Prenzlauer Berg,Germany,52.5333,NaN,13.4,NaN,NaN,"Prenzlauer Berg, Berlin, Germany",NaN
11,Region,,,,365323436817673,NaN,NaN,50.568884855168,NaN,9.0296906801049,NaN,NaN,"Hessen, Germany",NaN
12,Region,,,,327038383983055,NaN,NaN,52.196537074042,NaN,10.461939636541,NaN,NaN,"Niedersachsen, Germany",NaN
13,City,City,,,223665927647896,Kreuzberg,Germany,52.4965,NaN,13.4116,NaN,NaN,"Kreuzberg, Berlin, Germany",NaN
14,Region,City,City,,224899364192519,Hamburg,Germany,53.55,NaN,10.0014,NaN,NaN,Hamburgo,NaN
15,Region,,,,250614515007657,NaN,NaN,50.9142197796,NaN,11.0914401814,NaN,NaN,"Thüringen, Germany",NaN
16,City,City,,,225406770806694,Munich,Germany,48.15,NaN,11.5833,NaN,NaN,Múnich,NaN
17,Region,,,,252874131450649,NaN,NaN,51.1124041071,NaN,13.1914410554,NaN,NaN,"Sachsen, Germany",NaN
18,Region,,,,216020361818814,NaN,NaN,49.9309710419,NaN,7.51207846423,NaN,NaN,"Rheinland-Pfalz, Germany",NaN
19,City,City,,,209890965698578,Frankfurt,Germany,50.1154,NaN,8.6709,NaN,NaN,Fráncfort del Meno,NaN
20,Region,,,,260149827384740,NaN,NaN,49.32013168,NaN,7.09639292,NaN,NaN,"Saarland, Germany",NaN
21,City,City,,,220921891251928,Cologne,Germany,50.95,NaN,6.9667,NaN,NaN,Colonia (Alemania),NaN
22,City,City,Neighborhood,Geo Entity,199168250125618,Bogenhausen,Germany,48.152051374255,NaN,11.616418843701,NaN,NaN,"Bogenhausen, Bayern, Germany",NaN
23,City,City,,,200260546675783,Dresden,Germany,51.0416,NaN,13.7333,NaN,NaN,Dresde,NaN
24,City,City,,,219791978047209,Stuttgart,Germany,48.7823,NaN,9.1739,NaN,NaN,Stuttgart,NaN
25,City,City,Neighborhood,Geo Entity,201660089869571,Wilmersdorf,Germany,52.4833,NaN,13.3167,NaN,NaN,"Wilmersdorf, Berlin, Germany",NaN
26,City,City,,,215523831810313,Hanover,Germany,52.3727,NaN,9.738,NaN,NaN,Hannover,NaN
27,City,City,,,209905559033024,Leipzig,Germany,51.3396,NaN,12.3771,NaN,NaN,Leipzig,NaN
28,Region,,,,288169214566205,NaN,NaN,54.210642531421,NaN,9.7728945945643,NaN,NaN,"Schleswig-Holstein, Germany",NaN
29,City,City,,,216034838426105,Potsdam,Germany,52.4,NaN,13.0667,NaN,NaN,Potsdam,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Apparel & Clothing,Clothing (Brand),Business Service,,1578882385473767,Frankfurt,Germany,50.09102,NaN,8.59931,Stroofstr. 10,65933,LIN BEESER FASHION,NaN
115,Media/News Company,,,,952784478185115,Adlershof,Germany,52.42774,NaN,13.54491,Am Studio 16,12489,RT Deutsch,2769.0
116,Neighborhood,,,,848827278488534,Hamburg,Germany,53.582033333333,NaN,10.084261111111,NaN,22885,Wandsbek,NaN
117,Shopping & Retail,,,,134036950064707,Hamburg,Germany,53.549599,NaN,9.947339,Virchowstrasse 2 / Hinterhof,22767,Allike Store,262.0
118,Neighborhood,,,,820895637974669,Saarbrücken,Germany,49.2414,NaN,6.99056,Am Hauptbahnhof 6-12,66111,Saarbrücken Hauptbahnhof,NaN
119,City,City,,,209890965698578,Frankfurt,Germany,50.1154,NaN,8.6709,NaN,NaN,Fráncfort del Meno,NaN
120,City,City,,,209890965698578,Frankfurt,Germany,50.1154,NaN,8.6709,NaN,NaN,Fráncfort del Meno,NaN
121,Performance & Event Venue,Halfway House,"Stadium, Arena & Sports Venue",,300355903349822,Munich,Germany,48.174898764397,328584450515374,11.550224195079,Spiridon-Louis-Ring 21,80809,Olympiahalle München,3972.0
122,Performance & Event Venue,Halfway House,"Stadium, Arena & Sports Venue",,300355903349822,Munich,Germany,48.174898764397,328584450515374,11.550224195079,Spiridon-Louis-Ring 21,80809,Olympiahalle München,3972.0
123,Performance & Event Venue,Halfway House,"Stadium, Arena & Sports Venue",,300355903349822,Munich,Germany,48.174898764397,328584450515374,11.550224195079,Spiridon-Louis-Ring 21,80809,Olympiahalle München,3972.0
124,City,City,,,209549255732022,Aachen,Germany,50.7753,NaN,6.0828,NaN,NaN,Aquisgrán,NaN
125,City,City,,,209549255732022,Aachen,Germany,50.7753,NaN,6.0828,NaN,NaN,Aquisgrán,NaN
126,City,City,,,217866064907748,Hagen,Germany,51.3667,NaN,7.4833,NaN,NaN,Hagen,NaN
127,City,City,,,217866064907748,Hagen,Germany,51.3667,NaN,7.4833,NaN,NaN,Hagen,NaN
128,City,City,,,213131915377395,Garmisch-Partenkirchen,Germany,47.49291,NaN,11.08681,NaN,NaN,Garmisch-Partenkirchen,NaN
129,City,City,,,213131915377395,Garmisch-Partenkirchen,Germany,47.49291,NaN,11.08681,NaN,NaN,Garmisch-Partenkirchen,NaN
130,Just For Fun,,,,685540861610085,Stadtallendorf,Germany,50.816,NaN,9.0128299,niederkleiner Str 51,35260,Soferi din Romania,733.0
131,City,City,,,202776866427991,Berau,Germany,47.694696379967,NaN,8.2567278111553,NaN,NaN,"Berau, Baden-Wurttemberg, Germany",NaN
132,City,City,,,202776866427991,Berau,Germany,47.694696379967,NaN,8.2567278111553,NaN,NaN,"Berau, Baden-Wurttemberg, Germany",NaN
133,City,City,,,224419624240849,Koblenz,Germany,50.3597,NaN,7.5978,NaN,NaN,Coblenza,NaN
134,City,City,,,224419624240849,Koblenz,Germany,50.3597,NaN,7.5978,NaN,NaN,Coblenza,NaN
135,Music Chart,,,,1311126592393971,Ahlen,Germany,51.76316,NaN,7.88636,weststr.92,59227,نبضات سهر,NaN
136,City,City,,,215414725153207,Paderborn,Germany,51.717086,NaN,8.754933,NaN,NaN,Paderborn,NaN
137,City,City,,,215414725153207,Paderborn,Germany,51.717086,NaN,8.754933,NaN,NaN,Paderborn,NaN
138,Arts & Entertainment,Tattoo & Piercing Shop,,,728108033947217,Eging,Germany,48.5736,1703566273255164,13.4212399,Regensburger Straße 34,NaN,Tattoo Circle Worldwide,985.0
139,Arts & Entertainment,Tattoo & Piercing Shop,,,728108033947217,Eging,Germany,48.5736,1703566273255164,13.4212399,Regensburger Straße 34,NaN,Tattoo Circle Worldwide,985.0
140,City,City,,,215523831810313,Hanover,Germany,52.3727,NaN,9.738,NaN,NaN,Hannover,NaN
141,City,City,,,215523831810313,Hanover,Germany,52.3727,NaN,9.738,NaN,NaN,Hannover,NaN
142,City,City,,,199905860050441,Wuppertal,Germany,51.2667,NaN,7.18333,NaN,NaN,Wuppertal,NaN
143,City,City,,,199905860050441,Wuppertal,Germany,51.2667,NaN,7.18333,NaN,NaN,Wuppertal,NaN

In [99]:
r1= result.drop_duplicates()

In [100]:
r1.shape

(297, 14)

In [103]:
print('There are {} cities, {} countries' .format(r1['data_location_city'].unique().shape[0],r1['data_location_country'].unique().shape[0]))

There are 128 cities, 2 countries

In [104]:
r1['data_location_city'].unique()

array([nan, 'Berlin', 'Tiergarten', 'Prenzlauer Berg', 'Kreuzberg',
       'Hamburg', 'Munich', 'Frankfurt', 'Cologne', 'Bogenhausen',
       'Dresden', 'Stuttgart', 'Wilmersdorf', 'Hanover', 'Leipzig',
       'Potsdam', 'Steglitz', 'Bremen', 'Neukölln', 'Roßlau',
       'Schöneberg', 'Bamberg', 'Lichtenrade', 'Mannheim',
       'Märkisches Viertel', 'Oldenburg', 'Hagen', 'Bremerhaven', 'Belin',
       'Siegen', 'Heidelberg', 'Bonn', 'Bielefeld', 'Magdeburg', 'Trier',
       'Hildesheim', 'Cottbus-Schmellwitz', 'Kassel', 'Augsburg',
       'Erfurt', 'Aachen', 'Regensburg', 'Düsseldorf', 'Koblenz', 'Mainz',
       'Karlsruhe', 'Eisleben', 'Wuppertal', 'Ingolstadt', 'Ulm',
       'Pankow', 'Paderborn', 'Tessin', 'Plötzensee', 'Krefeld', 'Barlin',
       'Chemnitz', 'Bochum', 'Rostock', 'Wolfsburg', 'Karow', 'Strasburg',
       'Gera', 'Dessau', 'Fichtenwalde', 'Luckau', 'Bottrop', 'Wolfen',
       'Greifswald', 'Weißensee', 'Oberhausen', 'Gelsenkirchen',
       'Marzahn', 'Ahlen', 'Nuremberg', 'Dortmund', 'Rockenhausen',
       'Celle', 'Konstanz', 'Osnabrück', 'Schwangau', 'Sindelfingen',
       'Essen', 'Hamburg-Nord', 'Wenden', 'Freiburg im Breisgau',
       'Hockenheim', 'Poppenbüttel', 'Rothenburg ob der Tauber', 'Solms',
       'Nürburg', 'Garching', 'Bernkastel-Kues', 'Weimar',
       'Herzogenaurach', 'Langenhagen', 'Breitenbrunn', 'Werlte',
       'Amerika', 'Bornheim', 'Heilbronn', 'Esslingen', 'Halle',
       'Kaiserslautern', 'Hamm', 'Hamminkeln', 'Herne', 'Adelsdorf',
       'Stadt Haan', 'Dresden-Altstadt', 'Wiesbaden', 'Verden',
       'Karlsfeld', 'Hofheim', 'Sankt Wendel', 'Nordstemmen', 'Kiel',
       'Neu-Ulm', 'Kempten', 'Passau', 'Duisburg', 'Tübingen',
       'Adlershof', 'Saarbrücken', 'Garmisch-Partenkirchen',
       'Stadtallendorf', 'Berau', 'Eging'], dtype=object)

In [105]:
r1['data_location_country'].unique()

array([nan, 'Germany'], dtype=object)